---
ID: 23
post_title: FAFSA Verification
author: Emily
post_date: 2016-02-10 14:02:48
post_excerpt: ""
layout: page
permalink: >
  http://www.umw.edu/financialaid/process/verification/
published: true
wpcf-home-page-grid-inclusion:
  - "0"
---
Verification is a process where the Financial Aid Office confirms that the information on a student’s FAFSA is accurate. Any transaction to the FAFSA can trigger a verification.

The federal government requires colleges and universities to verify or confirm the information on a student’s FAFSA. This process ensures that students receive all the financial aid to which they are eligible and prevents students that are not eligible from receiving financial aid.

[children]